.content-table {
  width: 50%;
  margin: 5%;
  overflow: hidden;
  float: left;
}

.dev {
  overflow: auto;
  border-bottom: 3px dashed #999999;
}

.column {
  display: table-cell;
  vertical-align: middle;
}

.remove {
  text-align: center;
}

#like-button {
  cursor: pointer;
  color: #03cffc;
  &:hover {
    opacity: 70%;
  }
}
