.sidenav {
    width: 75px;     /* Set the width of the sidebar */
    z-index: 1;      /* Stay on top of everything */
    top: 0;      /* Stay at the top */
    background-color: #222; /* Black */
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 10px;
    float: left;
}

.sidenavbar {
    position: absolute;
    height: calc(100% - 65px);
    width: 75px;
    background-color: #222;
    overflow-x: hidden;
}

@media (max-width: 500px) {
    .sidenavbar {
        display: none;
    }

    .sidenav {
        display: none;
    }
}