$primary: green;
$secondary: white;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content-wrapper {
  margin-left: 75px;
  position: relative;
}

.height {
  position: relative;
}

@media (max-width: 500px) {
  .content-wrapper {
    margin: 0;
  }

  .sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    opacity: 90%;
  }

  body {
    font-size: 75%;
  }
}
