.form-wrapper {
  width: 90%;
  max-width: 400px;
  margin: 5% auto;
  background-color: #dbdbdb;
  padding: 20px;
  border-radius: 10px;
}

#confirm-password {
  border: 2px solid red;
  border-radius: 4px;
  box-shadow: 0 0 10px 0px red;
}

.if-you {
  margin-top: 50px;
}

.title-div {
  position: relative;
}

.title {
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
