p {
  margin: 0;
}

.hole-post {
  background-color: #666666;
  padding: 2%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
}

.error {
  color: red;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.post {
  background-color: #4d4d4d;
  padding: 2%;
  border-radius: 5px 5px 0 0;
  border-bottom: 7px double #9fffcb;
  overflow: auto;
}

.posts-loading,
.comments-loading {
  text-align: center;
}

.post-writer {
  color: #d9d9d9;
}

.post-alert {
  padding: 5px;
  float: left;
}

.postcontent {
  margin-left: 15px;
  font-size: large;
}

.create-post {
  text-align: center;
  background-color: #f2f2f2;
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.createpost-button {
  font-size: large;
}

.comments {
  background-color: #999999;
  padding: 10px 0 20px 0;
  border-radius: 0 0 5px 5px;
}

.comment {
  background-color: #737373;
  padding: 5px 5% 5px 3%;
  margin-top: 10px;
  border-left: 7px solid #4dff9d;
  margin-left: 4%;
}

.comment-count {
  float: left;
}

.comment-likes {
  text-align: right;
}

.post-likes {
  float: right;
}

.likes {
  color: #9fffcb;
  font-size: 20px;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.add-comment {
  padding: 2% 2% 0 2%;
  border-top: 5px dashed #4dff9d;
  overflow: auto;
  margin-top: 10px;
}

.comments-label {
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}

.comment-textarea {
  width: calc(100% - 103px);
  background-color: #d9d9d9;
  border: 3px inset #cccccc;
  border-radius: 10px;
}

.comment-button {
  width: 150px;
  float: right;
}

.post-button {
  width: 110px;
}

.comment-alert {
  float: right;
  padding: 5px;
  margin-right: 30px;
  margin-top: 5px;
}

.my-comment,
.my-post {
  color: #d6ff99;
}

.remove-comment,
.remove-post {
  float: right;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.edit-comment,
.edit-post {
  margin-right: 10px;
  margin-left: 20px;
  float: right;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.comment-modaltextarea,
.post-modaltextarea,
.post-modaltitle,
.post-content {
  width: 100%;
  background-color: #d9d9d9;
  border: 3px inset #cccccc;
  border-radius: 10px;
}

.post-modaltitle,
.post-title {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  background-color: #d9d9d9;
  border: 3px inset #cccccc;
  border-radius: 10px;
}

.date-post {
  float: right;
  color: #999999;
  font-size: 15px;
}

.date-comment {
  float: right;
  color: #b3b3b3;
  font-size: 13px;
}

.commentslabel {
  color: #b3b3b3;
}

.load-more-post {
  color: #b3b3b3;
  width: 100px;
  text-align: center;
  margin: 0 auto 10px auto;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.load-more-comment {
  color: #cccccc;
  width: 180px;
  margin-top: 10px;
  text-align: center;
  margin: 0 auto 10px auto;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.loading {
  color: #b3b3b3;
  text-align: center;
  margin-bottom: 10px;
}

.show-comments {
  margin: 0 auto;
  width: 130px;
  text-align: center;
  color: #d9d9d9;
  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}
