.home {
  background-color: #363636;
  border-left: 10px solid #9fffcb;
  border-right: 10px solid #9fffcb;
  border-radius: 0 0 20px 20px;
  display: block;
  margin: 0 10%;
  color: white;
  padding: 10px 5% 10px 5%;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}
